body {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.intro-fon {
	background-color: rgba(246, 242, 241, 1) ;
	width: 100%;
	min-height: 660px;
}
/*menu*/
.box-m {
	box-sizing: border-box;
	max-width: 1250px;
	height: 84px;
	background-color: rgba(48, 48, 48, 1);
	margin:0 auto;
	justify-content: center;
	align-items: center;
	display: flex;
}
.menu {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	min-height: 90px;
}
.menu_li {
	display: flex;
	margin:0 auto;
}
.menu_a {
	align-items: center;
	display: flex;
	font-size: 15px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 25px;
}
.box-m ul > li > a:hover {
	background-color: rgba(255, 63, 64, 1);
}
/*intro*/
.intro {
	margin:0 auto;
	max-width: 1250px;
	display: flex;
	padding-top: 83px;
	padding-left: 1vw;
	padding-right: 1vw;
}
.intro-left {
	max-width: 505px;
	margin:0 195px 0 0;
}
.intro-left > h1 {
	font-size: 58px;
	font-weight: bold;
	font-weight: 800;
	text-transform: uppercase;
	margin:0px;
}
.intro-left > p {
	font-size: 16px;
	padding:14px 0 51px 0;
	margin: 0;
	max-width: 520px;
}
.intro-button {
	align-items: stretch;
	display: flex;
	justify-content: center;
	min-height: 55px;
}
.button-fon {
	background-color: rgba(255, 45, 46, 1);
	height: 55px;
	width: 226px;
	border-radius: 8px;
}
.intro-button > a {
	align-items: center;
	display:flex;
	font-size:18px;
	font-weight: 700;
	color: white;
	text-decoration: none;
}
.workplace {
	box-sizing: border-box;
	width: 550px;
	height: 360px;
	box-shadow: 0 0 40px 2px grey;
}
/*provide*/
/*provide-left*/
.provide-box {
	padding-top: 65px;
	max-width: 1250px;
	display: flex;
	margin:0 auto;
	flex-wrap:wrap;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 34px;
	border-bottom:2px solid rgba(235, 235, 235, 1);
}
.provide-left {
	padding-right: 134px;
	max-width: 507px;
	flex: 1 1 507px;
}
.provide-left > h1 {
	font-size: 42px;
	font-weight: 600;
	text-transform: uppercase;
}
.provide-left > p {
	font-size: 16px;
	padding: 5px 0 56px 0;
	max-width:507px;
}
.prodide-info > h2 {
	font-weight: 600;
	color:rgba(71, 71, 71, 1);
}
.button-fon2 {
	border:2px solid rgba(254, 0, 3, 1);
	height: 55px;
	width: 226px;
	border-radius: 8px;
}
.button-provide
{
	align-items: stretch;
	display: flex;
	justify-content: center;
	min-height: 55px;
}
.button-provide > a {
	color: rgba(254, 0, 3, 1);
	align-items: center;
	display:flex;
	font-size:18px;
	text-decoration: none;
}
/*provide-right*/
.provide-right {
	flex-wrap: wrap;
	display: flex;
	max-width: 606px;
	flex: 1 1;
	margin:0 auto;
	padding-top: 25px;
}
.provide-info-img {
	padding-bottom: 34px;
	width: 274px;
	max-height: 41px;
	flex:1 1 274px;
}
.provide-info {
	flex:1 1 274px;
	width: 274px;
	padding-bottom: 50px;
	/*max-height: 208px;*/
}
.provide-info:nth-child(2n+1) {
	margin-right: 46px;
}
.provide-info > h2 {
	margin:0;
}
/*products*/
.products-fon {
	padding-top: 106px;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 113px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.products-shapka {
	width: 1250px;
	text-align: center;
	padding-bottom: 77px;
}
.products-shapka > h2 {
	font-size: 42px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
} 
.products-shapka > p {
	font-size: 16px;
	padding-top: 21px;
    padding-bottom: 25px;
    margin: 0;
}
.red-line {
	width: 132px;
	height: 2px;
	background-color: rgba(255, 45, 42, 1);
	border:none;
}
.work > ul {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
	padding-bottom: 49px;
	justify-content: center;
}
.work > ul > li {
	padding-left: 28.5px;
	padding-right: 28.5px;
}
.work > ul > li > a {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 600;
	color:rgba(73, 73, 73, 1);
	text-decoration: none;
}
.work > ul > li > a:hover {
	color:rgba(252, 43, 46, 1);
}
.work-img {
	display: flex;
	flex-wrap: wrap;
}
.work-img > img {
	flex:1 1 292px;
	padding: 9px;
}
/*team*/
.team-fon {
	padding-left: 1vw;
	padding-right: 1vw;
	max-width: 1250px;
	margin: 0 auto;
	margin-bottom: 108px;
}
.team-intro {
	max-width: 450px;
	padding-bottom: 74px;
}
.team-intro > h2 {
	font-size: 42px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
}
.team-intro > p {
	padding-bottom: 33px;
	font-size: 16px;
}
.red-line-2 {
	margin: 0px;
	width: 132px;
	height: 2px;
	background-color: rgba(255, 45, 42, 1);
	border:none;
}
.team {
	display: flex;
}
.img-man {
	width: 315px;
	height: 456px;
	background-color: #EA1844;
	margin-right: 78px;
}
.team-info {
	display: flex;
	flex-wrap: wrap;
	max-width: 885px;
	flex-direction: column;
}
.team-info > h3 {
	font-size: 29px;
	font-weight: 600;
	text-transform: uppercase;
	max-height: 29px;
	margin: 0;
}
.team-info > p {
	font-size:16px;
	max-width: 632px;
	padding-top: 25px;
}
.team-info > ul {
	display:flex;
	list-style: none;
	padding: 0;
	margin-bottom: 67px;
	padding-top: 15px;
}
.team-info > ul > li {
	margin-right: 31px;
	font-size: 16px;
	font-style: italic;

}
.team-info > ul > li > a {
	text-decoration: none;
	color: rgba(51, 51, 51, 1);
}
.workers {
	display: flex;
	flex-wrap: wrap;
}
.worker > img {
	display: block;
	width: 197px;
	height: 213px;
	margin:0 17px 17px 0;
	background-color: #8D7AD5;
}
.worker {
	position: relative;
}
.name-worker {
	align-items: center;
	justify-content: center;
	display: flex;
	color: white;
	background-color: black;
	align-items: center;
	/*visibility: hidden;*/
	bottom: 0px;
	width: 197px;
	height: 37px;
	position: absolute;
	opacity: 0.5
}
/*email*/
.email-fon {
	width: 100%;
	min-height: 516px;
	background-color: rgba(48, 48, 48, 1);
}
.intro-email {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.intro-email > h2 {
	padding-top: 128px;
	padding-bottom: 24px;
	font-size: 42px;
	font-weight: 600;
	color: white;
	margin:0 auto;
}
.intro-email > p {
	margin:0;
	font-size: 16px;
	color: white;
	padding-bottom: 62px;
}
.email_button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.email-form {
	/*display: flex;*/
	border: 0;
	color: grey;
	font-size: 16px;
	padding-left:38px;
	width: 517px;
	height: 82px;
	background-color: white;
	margin-right: 23px;
	border-radius: 5px;
	align-items: center;
}
.email-form > p {
	color: rgba(104, 104, 104, 1);
	margin-left:38px;
}
.subscribe {
	/*display: flex;*/
	border: 0;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	width: 215px;
	height: 82px;
	background-color: rgba(255, 45, 46, 1);
	border-radius: 5px;
	align-items: center;
	justify-content: center;
}
.subscribe > a {
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}
/*link*/
.link-fon {
	padding-top: 89px;
	padding-left: 1vw;
	margin: 0 auto;
}
.link-intro {
	max-width: 1250px;
	margin: 0 auto;
}
.link-intro > h2 {
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
	font-size: 42px;
	padding-bottom: 39px;
}
.link-intro > p {
	margin: 0;
	max-width: 746px;
	padding-bottom: 53px;
}
.red-line-3 {
	margin: 0px;
	width: 132px;
	height: 2px;
	background-color: rgba(255, 45, 42, 1);
	border:none;
	margin-bottom: 82px;
}
.link-contact {
	display: flex;
	margin: 0 auto;
	max-width: 1250px;
}
.link-email {
	max-width: 767px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 111px;
}
.le-name {
	border: 0;
	width: 345px;
	height: 67px;
	background-color: rgba(229, 229, 229, 1);
	margin-right: 55px;
	display: flex;
	align-items: center;
	border-radius: 10px;
}
.le-mail {
	border: 0;
	width: 345px;
	height: 67px;
	background-color: rgba(229, 229, 229, 1);
	display: flex;
	align-items: center;
	border-radius: 10px;
}
.le-message {
	border: 0;
	width: 746px;
	height: 250px;
	background-color: rgba(229, 229, 229, 1);
	border-radius: 10px;
	margin-top: 55px;
}
.le-message > p {
	padding-top: 34px;
}
.le-mail > p,
.le-name > p , 
.le-message > p {
	font-size: 16px;
	margin: 0;
	padding-left: 50px;
	color:rgba(67, 67, 67, 1);
}
.send-message {
	font-size: 16px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	border: 0;
	margin-top: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 746px;
	height: 72px;
	background-color: rgba(255, 59, 60, 1);
	border-radius: 10px;
}
/*.send-message > a {
	font-size: 16px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}*/
.contact-info {
	position: absolute;
	right: 0;
	height: 499px;
	max-width: 575px;
	background-color: rgba(48, 48, 48, 1);
}
.contact-info-padd {
	padding: 142px 210px 144px 80px;
}
.contact-info-padd > h3 {
	color:white;
	text-transform: uppercase;
}
.contact-info-padd > p {
	color:white;
} 
/*footer*/
.footer {
	display: flex;
	align-items: center;
	height: 110px;
	width: 100%;
	background-color: rgba(48, 48, 48, 1);
	position: relative;
	justify-content: space-between;
}
.footer > p {
	padding-left: 1vw;
	margin: 0;
	margin-left: 182px;
	color: rgba(176, 176, 176, 1);
}
.images-footer {
	padding-left: 1vw;
	display: flex;
	margin-right: 163px;
	margin-left: 33px;
}
.images-footer > a {
	margin-right: 18px;
}
.images-footer > a > img {
	width: 33px;
	height: 33px;
}
/*media*/
@media screen and (max-width: 1450px) {
	.link-email {
		margin: 0 auto;
	}
	.link-contact {
		display: block;
		flex-direction: column;
		max-width: none;
	}
	.contact-info {
		margin-top: 100px;
		position: static;
		width: 100%;
		max-width: none;
		padding-left:0;
	}
	.link-fon {
		padding-left:0;
	}
	.link-intro,
	.link-email {
		padding-left: 1vw;
	}
}
@media screen and (max-width: 1260px) {
	.intro-left {
		box-sizing: border-box;
		width: 50%;
		margin:0 auto; 

	}
	.workplace {
		width: 90%;
		height: auto;
		margin-left:45px;

	}
	.intro-left h1 {
		font-size: 5vw;
		
	}
}
@media screen and (max-width: 997px) {
	.provide-left {
		margin:0 auto;
		padding-right: 82px;
	}
	.provide-right {
		margin:0 auto;
		width: 100%;
	}
	.provide-info {
		width: 100%;

	}
}
@media screen and (max-width: 911px) {
	.photo > ul > li {
		width: 100%;
		padding-bottom: 5px;
	}
	.photo > ul {
		padding: 0;
	}
}
@media screen and (max-width: 850px) {
	.intro {
		flex-wrap: wrap;
	}
	.team {
		flex-wrap: wrap;
	}
	.intro-left {
		width: 100%;
		left: 0;
	}
	.intro-left > h1{
		font-size: 58px;
	}
	.workplace {
		width: 100%;
		height: auto;
		margin: 33px 0 0 0;

	}
	.link-email {
		flex-direction: column;
		align-items: center;
	}
	.le-name {
		margin-right: 0;
		margin-bottom: 55px;
	}
	.le-message,
	.send-message {
		width: 78vw;
	}
	.footer {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer > p {
		margin-left:0;
	}
}
@media screen and (max-width: 750px) {
	.email-form {
		margin: 0 auto;
	}
	.subcribe {
		margin-top: 9px;
	}
	.contact-info-padd {
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	.contact-info-padd > h3 {
		margin-top: 132px; 
	}
}
@media screen and (max-width: 480px){
	.box-m {
		min-height: 90px;
	}
	.intro-left > h1 {
		font-size: 12vw;
	}
	.images-footer {
		margin-right: 0;
	}
}
@media screen and (max-width: 360px){
	.intro-left > h1 {
		font-size: 35px;
	}
	.email-form {
		width: 90%;
	}
}
@media screen and (max-width: 280px){
	.intro-left > h1 {
		word-break: break-all;
	}
}
/*fonts*/
@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}